/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
  }

/* navbar */
.containerAll{
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 50%;
  padding-left: 50px;
}
.menu{
    justify-content: end;
    padding-right: 100px;
}
.burger{
    padding-right: 50px;
}

@media (min-width: 800px){
  .navbar {
    display: flex !important;
}
  
}